@font-face {
  font-family: "Suisse Int'l";
  src: url('SuisseIntl-Light.otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url('SuisseIntl-Book.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url('SuisseIntl-Medium.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson Text";
  src: url('CrimsonText-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson Text";
  src: url('CrimsonText-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  --grey: #978D82;
  --white: #FFFFFF;
  --eggshell: #F1ECE5;
  --light-brown: #543C23;
  --light-brown-30: #543C234D;
  --light-brown-60: #543C2399;
  --dark-brown: #331A00;

  --font-suisse-intl: "Suisse Int'l", helvetica, sans-serif;
  --font-crimson-text: 'Crimson Text', serif;

  --color-background: var(--eggshell);
  --color-foreground: var(--dark-brown);
}

.title {
  font-family: var(--font-suisse-intl);
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-align: center;
  vertical-align: middle;
}

.big-title {
  font-family: var(--font-suisse-intl);
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  vertical-align: middle;
}

.nav {
font-family: var(--font-suisse-intl);
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 114.99999999999999%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

.body-bold {
  font-family: var(--font-suisse-intl);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 133%;
  letter-spacing: 0.01em;
}

body, .body {
  font-family: var(--font-suisse-intl);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 133%;
  letter-spacing: 0.01em;
}

.big-h1 {
  font-family: var(--font-suisse-intl);
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 100%;
  letter-spacing: -0.06em;
  vertical-align: middle;
}
@media screen and (min-width: 990px) {
  .big-h1 {
    font-size: 6.25rem;
  }
}

h1, .h1 {
  font-family: var(--font-suisse-intl);
  font-weight: 450;
  font-size: 1.75rem;
  line-height: 133%;
  letter-spacing: -0.03em;
}

.chart {
  font-family: var(--font-suisse-intl);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 135%;
  letter-spacing: 1%;
}

.chart-italic {
  font-family: var(--font-suisse-intl);
  font-weight: 300;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 0.01em;
}

.cta {
  font-family: var(--font-suisse-intl);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 110.00000000000001%;
  letter-spacing: 0.02em;
  text-align: center;
}

.fig {
  font-family: var(--font-crimson-text);
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.rte a {
  text-decoration: underline;
}
.rte * + p {
  margin-top: 1em;
}

button[type="submit"] {
  height: 3.125rem;
  width: 100%;
  background-color: var(--light-brown);
  color: var(--white);
}
button.cta[type="submit"] {
  background-color: var(--dark-brown);
}